/Glimpse.Elmah/bin
/Glimpse.Elmah/obj

/Glimpse.Elmah.Sample/bin
/Glimpse.Elmah.Sample/obj
/Glimpse.Elmah.Sample/Glimpse.Elmah.Sample.csproj.user

/Glimpse.Elmah.ncrunchsolution
/Glimpse.Elmah.ncrunchsolution.user
/Glimpse.Elmah.v11.suo
/Glimpse.Elmah.sln.DotSettings