/Source/Glimpse.Elmah/bin
/Source/Glimpse.Elmah/obj
/Source/Glimpse.Elmah.Sample/bin
/Source/Glimpse.Elmah.Sample/obj

/Source/_ReSharper.Glimpse.Elmah
/Source/Glimpse.Elmah.ncrunchsolution
/Source/Glimpse.Elmah.v11.suo
/NuGet - API key.txt
/Source/Glimpse.Elmah.ncrunchsolution.user
/Source/Glimpse.Elmah.Sample/Glimpse.Elmah.Sample.csproj.user
/Source/Glimpse.Elmah.sln.DotSettings
